{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <form action="{{ url_for('quote') }}" method="post">
        <h2>Get a Quote!</h2>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="quote" placeholder="Stock Symbol" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Get a Quote!</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
